@import './variables';

//botao input search
.btn-search{
    width: 30%;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: $color-roxo;
    color: white;
    font-weight: 700;
    transition: ease-in-out .2s;
    outline: none;
    cursor: pointer;
    &:hover {
        background: $color-roxo-secundario;
    }    
}
//botao header search
.btn-header-seach {
    width: 214px;
    height: 48px;    
    border-radius: 5px;
    transition: ease-in-out .2s;
    cursor: pointer;
    outline: none;
    border: 1px solid $color-roxo;
    background-color: transparent;
    color: $color-roxo;
    &:hover {
        background: $color-lilas;
        border: transparent;
    } 
}
//botao Acessar sala Login
.btn-login {
    width: 206px;
    height: 48px;
    border: none;
    margin: 32px 0;
    border-radius: 5px;
    background-color: $color-roxo;
    color: white;
    font-weight: 700;
    transition: ease-in-out .2s;
    cursor: pointer;
    outline: none;
    &:hover {
        background: $color-roxo;
    } 
}
.btn-plans {
    width: 430px;
    height: 48px;
    margin-top: 32px;
    border: 1px solid #52449F;
    border-radius: 5px;
    color: #43339B;
    cursor: pointer;
    transition: ease-in-out .2s;
    outline: none;
    &:hover {
        background: $color-lilas;
        border: $color-roxo-secundario;
    }
} 
