@import './variables';

.btn-menu {
    width: 8em;
    height: 8em;
    background: $color-roxo;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 100% 0 0;
    transition: ease-in-out .2s;
    cursor: pointer;
    &:hover {
        background-color: $color-roxo-secundario;
    }
    img {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 35px;
        left: 35px;
    }
}