$branco: #fff;

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    padding: 0 80px;
    background-color:$branco;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.plataforms-app {
    display: flex;
    align-items: center;
    img {
        width: 7em;
        margin: 0 8px;

    }
    p {
        margin-right: 16px;
    }


}