.material-search {
    position: relative;
    padding: 0;
    width: 70%;
    border: none;
    overflow: visible;
    margin: 0;
    input {
        font-weight: 300;
        margin-bottom: 3px;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 16px;
        border: none;
        border-radius: 5px 0 0 5px;
        margin: 0;
        color: #266EB5;
        font-size: 16px;
        outline: none;
        cursor: text;
        &::-webkit-input-placeholder {
            -webkit-transition: color 300ms ease;
            transition: color 300ms ease;
        }
        &:not(:placeholder-shown) {
            ~ {
                label {
                    opacity: 1;
                }
            }
        }
        &:focus {
            ~ {
                label {
                    opacity: 1;
                    transform: scale(0.6);
                }
                hr {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    visibility: visible;
                }
            }
        }
        &:valid {
            ~ {
                label {
                    transform: scale(0.6);
                }
            }
        }
    }
    label {
        opacity: 0;
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 16px;
        color: #626773;
        -webkit-transform-origin: 0 -150%;
        transform-origin: 0 -150%;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
        pointer-events: none;
    }
    hr {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 3px;
        height: 100%;
        border: none;
        background: #393e4a;
        font-size: 1px;
        will-change: transform, visibility;
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        visibility: hidden;
        z-index: 10;
    }
}
.material-login {
    position: relative;
    padding: 0;
    width: 100%;
    border: none;
    overflow: visible;
    margin: 2px 0;
    input {
        font-weight: 300;
        margin-bottom: 3px;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 16px;
        border: none;
        margin: 0;
        color: #266EB5;
        font-size: 16px;
        outline: none;
        cursor: text;
        &::-webkit-input-placeholder {
            -webkit-transition: color 300ms ease;
            transition: color 300ms ease;
        }
        &:not(:placeholder-shown) {
            ~ {
                label {
                    opacity: 1;
                }
            }
        }
        &:focus {
            ~ {
                label {
                    opacity: 1;
                    transform: scale(0.6);
                }
                hr {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    visibility: visible;
                }
            }
        }
        &:valid {
            ~ {
                label {
                    transform: scale(0.6);
                }
            }
        }
    }
    label {
        opacity: 0;
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 16px;
        color: #626773;
        -webkit-transform-origin: 0 -150%;
        transform-origin: 0 -150%;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
        pointer-events: none;
    }
    hr {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 3px;
        height: 100%;
        border: none;
        background: #393e4a;
        font-size: 1px;
        will-change: transform, visibility;
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        visibility: hidden;
        z-index: 10;
    }
}
input {
    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
}