.container  {
    position: fixed;
    width: 0%;
    height: 100%;
    background: #F5F5F5;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 22px #211F1F14;
    transition: ease-in-out .2s;
    .close {
        height: 40px;
        width: 40px;
        right: -90%;
        top: 64px;
        border-radius: 25px;
        color: #000;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in-out .2s;
        &:after, &:before {
            content: '';
            height: 25px;
            width: 2px;
            position: absolute;
            background: #626773 ;
        }
        &:after{
           transform: rotate(45deg);
        }
        &:before{
           transform: rotate(-45deg);
        }
        &:hover {
            background: #211F1F14;
        }
    }
    .content-login {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 430px;
        input {
            width: 100%;
        }     
    }
    .btn-access {
        width: 100%;
        display: flex;
        border-bottom: solid 1px #E3E3E3;       

    }
    
}
        .show-side {
            width: 80%;
        }
        .close-side {
            width: 0%;
        }
        .content-login {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 430px;
        input {
            width: 100%;
        }     
    }
    .btn-access {
		width: 100%;
        display: flex;
        border-bottom: solid 1px #E3E3E3;
	}