@import '../scss/variables';

.menu-bar {
    height: 97%;
    width: 80px;
    border-radius: 20px;
    list-style: none;
    padding: 0;
    margin: 24px ;
    background-color: #342d5d;
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 24px 0;
        cursor: pointer;
        font-size: 12px;
        color: white;
        

    }

}